
@{
    ViewBag.Title = "NewBook";
}

<h2>New Book</h2>

@using (Html.BeginForm("NewBook" , "Book"))
{
    @Html.Label("Name") 
    @Html.TextBox("Name")
    <br />

    @Html.Label("Author")
    @Html.TextBox("Author")
    <br />

    @Html.Label("Rating")
    @Html.TextBox("Rating")  
    <br />

    @Html.Label("Price")
    @Html.TextBox("Price")
    <br />
    <input type="submit" value="Submit" />
}
